<header>
  <div class="top-navbar">
    <div class="logo">
      <img src="img_header_logo.svg" alt="Logo">
    </div>
    <div class="icons">
      <i class="material-icons">search</i>
      <i class="material-icons">favorite_border</i>
      <i class="material-icons">shopping_bag</i>
      <i class="material-icons">person_outline</i>
      <div class="language-switcher">
        <span>ENG</span>
      </div>
    </div>
  </div>
  <nav class="bottom-navbar">
    <ul class="nav-links">
      <li><a routerLink="/">Shop</a></li>
      <li><a routerLink="/">Skills</a></li>
      <li><a routerLink="/">Stories</a></li>
      <li><a routerLink="/">About</a></li>
      <li><a routerLink="/">Contact Us</a></li>
    </ul>
  </nav>
</header>
<section class="main-header">
  <h1>DISCOVER OUR PRODUCTS</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum.</p>
</section>
